@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Oleo+Script&display=swap&family=Comfortaa:wght@600&family=Fredericka+the+Great&family=Jacques+Francois+Shadow&family=Righteous&display=swap&family=Milongo&family=Balsamiq+Sans&display=swap");

.nav-wrapper {
  background-color: #2c3e50;
  height: 128%;
  position: sticky;
  z-index: 1;
}

#logo {
  /* font-family: "Codystar", cursive; */
  /* font-family: "Fredericka the Great", cursive; */
  font-family: "Comfortaa", cursive;

  margin-left: 5%;
  font-size: 2em;
}

@media screen and (max-width: 480px) {
  #logo {
    font-size: 28px;
    margin-left: 0px;

}
@media screen and (max-width: 385px) {
  #logo {
    font-size: 24px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 330px) {
  #logo {
    font-size: 22px;
    margin-left: 0px;
  }
}

}
#home-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  border: 1px solid grey;
  border-radius: 50%;
}
#headline{
  font-family: "Codystar", cursive; 
  font-size: 2em;
  font-weight: bold;
  color: navy; 
  text-align: center;
  margin: 1% 0%;
  z-index: 1;
}
#sub-headline{
  font-family: "Comfortaa", cursive;

  /* font-family: 'Balsamiq Sans', cursive;
  font-family: "Righteous", cursive;
  font-family: 'Oleo Script', cursive; */
  font-size: 1em;
  text-align: center;
  color:  #2c3e50;

}
