@import url("https://fonts.googleapis.com/css2?family=Codystar&family=Comfortaa:wght@600&family=Fredericka+the+Great&family=Jacques+Francois+Shadow&family=Righteous&display=swap&family=Milongo");

.nav-wrapper {
  background-color: #2c3e50;
  height: 128%;
  position: sticky;
  z-index: 1;
}

#logo {
  font-family: "Codystar", cursive;
  /* font-family: "Jacques Francois Shadow", cursive; */
  /* font-family: "Milonga"; */
  /* font-family: "Fredericka the Great", cursive; */
  /* font-family: "Comfortaa", cursive; */
  font-family: "Righteous", cursive;
  margin-left: 5%;
  font-size: 2em;
}

@media screen and (max-width: 480px) {
  #logo {
    font-size: 28px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 385px) {
  #logo {
    font-size: 24px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 330px) {
  #logo {
    font-size: 22px;
    margin-left: 0px;
  }
}
